script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
script.
  window.jQuery || document.write(unescape('%3Cscript src="#{site.baseurl}/js/jquery.js">%3C/script>'))
script(src="#{site.baseurl}/js/vendor.js")
script(src="#{site.baseurl}/js/app.js")
script(src="#{site.baseurl}/js/jwplayer.js")
link(rel="stylesheet", href="#{site.baseurl}/css/font-awesome.min.css", media="all")
